body {
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}
/*custom scrollbar*/
::-webkit-scrollbar {
	width: 13px;
}
/* track*/
::-website-scrollbar-track {
	background: #394870;
}
/*Handle*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #19233b;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #141927;
  }
  
.music-player-page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .music-container {
    position: relative;
    height: 70%;
    width: 40%;
    border: 1px solid transparent;
    background-color: rgba(81, 84, 88, 0.267);
    padding-bottom: 30px;
    background-size: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

