body {
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
}
/*custom scrollbar*/
::-webkit-scrollbar {
	width: 13px;
}
/* track*/
::-website-scrollbar-track {
	background: #394870;
}
/*Handle*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #19233b;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #141927;
  }
  
.music-player-page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

